<header class="mb-6" aria-label="Cabeçalho do site">
  <nav aria-label="Menu de navegação">
    <img routerLink="/home" src="./assets/images/logo.svg" class="w-[200px] cursor-pointer ml-[80px]" alt="Logo do site" aria-label="Ir para a página inicial" />
    <ul>
      <mat-toolbar class="mat-toolbar">
        <app-search-bar aria-label="Barra de pesquisa"></app-search-bar>
      </mat-toolbar>
    </ul>
    <app-profile-avatar class="cursor-pointer mr-[80px] ml-[63px]" aria-label="Avatar do perfil"></app-profile-avatar>
  </nav>
</header>
