<div class="grid-container font-sans" aria-label="Seção de Atendimentos">
  <div
    class="col-span-12 col-start-1 px-5 pb-5 w-full h-[75vh] rounded-md border-t-[3px] border-[#bb2200] shadow-[0px_30px_40px_-20px_rgba(0,0,0,0.25)] bg-white self-start"
  >
    <h2 class="font-semibold text-center m-2 md:text-2xl" aria-label="Título da Seção de Atendimentos">Atendimentos</h2>
    <div
      class="w-[300px] h-[250px] p-5 rounded-md border-t-[3px] border-[#bb2200] shadow-[0px_30px_40px_-20px_rgba(0,0,0,0.25)] bg-white flex flex-col"
      aria-label="Detalhes do Atendimento"
    >
      <p aria-label="Status do Atendimento">Status: Ativo</p>
      <p aria-label="Profissional Responsável">Profissional: Leanne Grahan</p>
      <p aria-label="Horário do Atendimento">Horário: 12:00 - 15:00</p>
      <p aria-label="Unidade do Atendimento">Unidade: FATEC ZO/SP</p>
      <div class="flex-grow"></div>
      <button
        class="w-full mt-auto border md:text-base border-[#bb2200] text-[#bb2200] py-2 px-4 rounded-md transition duration-300 hover:bg-[#bb2200] hover:text-white font-sans"
        aria-label="Botão para Expandir Detalhes"
      >
        Expandir
      </button>
    </div>
  </div>
</div>
