<div
  class="overlay-container mat-elevation-z2 flex flex-col"
  aria-label="Menu de opções do perfil"
>
  <button class="text-left pl-4 mt-4 mb-2 hover:text-[#BB2200]" aria-label="Editar perfil">
    Editar perfil
  </button>
  <button (click)="openTrocaUnidadeDialog()" class="text-left pl-4 mb-2 hover:text-[#BB2200]" aria-label="Trocar unidade">
    Trocar Unidade
  </button>
  <button routerLink="/login" class="text-left pl-4 mb-2 hover:text-[#BB2200]" aria-label="Sair da conta">
    Sair
  </button>
</div>
