<div
  cdkOverlayOrigin
  #overlayPosition="cdkOverlayOrigin"
  [ngClass]="{ 'opened mat-elevation-z2': overlayOpen() }"
  class="flex items-center gap-2"
  [attr.aria-label]="'Avatar do usuário'"
  (click)="overlayOpen.set(true)"
>
  <div
    class="relative w-16 h-16 rounded-full flex items-center justify-center text-white font-bold text-lg bg-[#bb2200] border-2 border-solid border-white"
    [attr.aria-label]="'Iniciais do usuário: ' + initials()"
  >
    {{ initials() }}
  </div>
  <h3 class="font-medium" [attr.aria-label]="'Nome do usuário: ' + username()">{{ username() }}</h3>
</div>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="overlayPosition"
  [cdkConnectedOverlayOpen]="overlayOpen()"
  (overlayOutsideClick)="overlayOpen.set(false)"
  [attr.aria-label]="'Menu de perfil do usuário'"
>
  <app-profile-overlay />
</ng-template>
