<div class="grid-container font-sans">
  <div
    class="container-report col-span-12 col-start-1 px-5 w-full rounded-md border-t-[3px] border-[#bb2200] shadow-[0px_30px_40px_-20px_rgba(0,0,0,0.25)] bg-white self-start flex flex-row justify-between" aria-label="Seção de Gráficos">
    <app-pie-chart aria-label="Gráfico de Pizza"></app-pie-chart>

    <div class="w-[2px] bg-gray-300 mx-4" aria-hidden="true"></div>

    <app-bar-chart aria-label="Gráfico de Barras"></app-bar-chart>
  </div>
</div>
