<mat-form-field class="w-[30vw]" aria-label="Campo de pesquisa">
  <mat-label>Pesquisar</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="" #input aria-label="Digite para filtrar a lista" />
</mat-form-field>

<div class="list overflow-auto mt-auto bg-white" aria-label="Tabela de alunos">
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    class="list w-full mt-auto bg-white"
    aria-label="Lista de alunos"
    role="grid"
  >
    <!-- Cabeçalho -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
      <td mat-cell *matCellDef="let student" id="student-name-{{ student.academic_id }}" [attr.aria-label]="'Nome do aluno ' + student.name">
        {{ student.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="academic_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Matrícula</th>
      <td mat-cell *matCellDef="let student" id="student-mat-{{ student.academic_id }}" [attr.aria-label]="'Matrícula do aluno ' + student.academic_id">
        {{ student.academic_id }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['name', 'academic_id']" class="" role="row"></tr>
    <tr
      mat-row
      *matRowDef="let student; columns: ['name', 'academic_id']"
      [routerLink]="['/student', student.id]"
      class="justify-between hover:bg-gray-200 cursor-pointer"
      role="row"
      [attr.aria-label]="'Ir para o perfil do aluno ' + student.name"
    ></tr>
  </table>
</div>

<mat-paginator
  class="paginator"
  [pageSize]="5"
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons="true"
  aria-label="Paginação da lista de alunos"
></mat-paginator>
